{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css'   %}">

{% endblock %}


{% block 'titulo' %}Cadastre-se{% endblock %}

{% block 'body' %}






    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'autenticacao/img/logo_nutri_lab.png'%}">
                    </h2>

                </div>                
            </div>

           
            <div class="col-md-9">      


                <div class="area_cadastrar">
                    {% if messages %}                   
                      
                            {% for message in messages %}
                                <div class="alert {{message.tags}}" role="alert">                        
                                {{ message }}
                                </div>
                            {% endfor %}
                       
                    {% endif %}
                   <br>
    
                    <h2 class="titulo">Logar no sistema</h2>                  
                    <hr>
                    
                    <form action="{% url 'logar' %}" method="POST" > {% csrf_token %}
                      
                        <span class="bold">Nome de usuário</span>
                        <input class="form-control input-form" name="usuario" type="text" placeholder="Digite seu nome...">
                        <br>                        
                        <div class="row">
                            <div class="col-md">
                                <span class="bold">Senha</span>
                                <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">
                            </div>                          
                        </div> 
                        <br>
                       
                            <button  class="btn-lg btn-success btn">Entrar</button>            
                       
                            <a class="btn btn-primary btn-lg"  href="{% url 'cadastro' %}">cadastre-se</a> </h3>
                            

                                      
                       
                    </form>
                    <br>
                    
                </div>

            </div>

        </div>


    </div>




{% endblock %}